@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

html {
  scroll-behavior: smooth;
  background-color: black;
  height: 100%;
}

body {
  overflow-x: hidden;
  overscroll-behavior-y: none;
  background-color: black;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100%;
}

input[type='date'] {
  display: block;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  -webkit-appearance: none;
  appearance: none;
}